@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Raleway:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Lato:wght@400;700&family=Avenir&family=Roboto:wght@400;500;700&family=Merriweather:wght@400;700&family=Poppins:wght@400;500;700&display=swap');


/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* Smooth scroll behavior and responsive scaling */
html {
    scroll-behavior: smooth;
}

/* Pantallas medianas / MacBook 13" (de 1024px a 1359px) -> 20% más pequeño */
@media (min-width: 1024px) and (max-width: 1359px) {
  html {
    font-size: 80%;
  }
}

/* Pantallas de 1360px a 1599px (como la de 27" a 1366px de resolución) -> 30% más pequeño */
@media (min-width: 1360px) and (max-width: 1599px) {
  html {
    font-size: 70%;
  }
}

/* Pantallas grandes reales (1600px en adelante) -> Se ve al 100% normal */
@media (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

